@import url('reset.css');

.main-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__btn {
    background-color: red;
    padding: 15px 15px;
    border-radius: 5px;
    transition: all 0.25s;
}

.main__btn:hover {
    background-color: darkred;
}

.main__link {
    color: white;
    font-size: 24px;
}